apiVersion: apps/v1
kind: Deployment
metadata:
  name: analytics-service
  labels:
    app: analytics-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: analytics-service
  template:
    metadata:
      labels:
        app: analytics-service
    spec:
      containers:
      - name: analytics-service
        image: us-west1-docker.pkg.dev/tcss559-au25-cbuendia/docker-repo/analytics-service:latest
        ports:
        - containerPort: 3081
        resources:
          requests:
            memory: "256Mi"
            cpu: "300m"
          limits:
            memory: "512Mi"
            cpu: "600m"
        readinessProbe:
          httpGet:
            path: /health
            port: 3081
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /health
            port: 3081
          initialDelaySeconds: 15
          periodSeconds: 20
        env:
        - name: MONGODB_URI
          valueFrom:
            secretKeyRef:
              name: analytics-secret
              key: MONGODB_URI
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: analytics-secret
              key: JWT_SECRET